<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    <table style="width: 100%;">
        <tr style="background: black;">
            <td style="height: 150px;">
                BLACK
            </td>
        </tr>
        <tr style="height: 250px;">
            <td>
                <div style="font-family: Montserrat, sans-serif; text-align: center; font-size: 40px;">
                    <span style="font-family: Montserrat, sans-serif;">  Поздравляю, {{ first_name }} {{ last_name }}, вы выиграли промокод: {{ promocode }}.</span>
                </div>
                <div style="font-family: Montserrat, sans-serif; text-align: center; font-size: 20px;">
                    <span style="font-family: Montserrat, sans-serif;">  Приходите по адресу г. Москва, пр. Вернадского 78 и узнай, что дает тебе этот промокод! </span>
                </div>
            </td>
        </tr>
        <tr style="background: black;">
            <td style="height: 150px;">
                BLACK
            </td>
        </tr>
    </table>
</div>
</body>
</html>
<style>
body {
    font-family: Montserrat, sans-serif;
}
</style>